/* Reset */
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Common */
body
{
    font-family: 'Lato', sans-serif;
}

.container
{
    max-width: 70%;
    margin: 0 auto;
}

.clearfix::after
{
    content: "";
    display: table;
    clear: both;
}

/* Header */
header
{
    padding: 10px;
}

header .logo img
{
    width: 100px;
}

header .logo,
header .nav-list,
header .button
{
    float: left;
}

header .logo,
header .button
{
    width: 25%;
}

header .nav-list
{
    width: 50%;
}

header .nav-list
{
    text-align: center;
}

header .button
{
    text-align: right;
}


header .nav-list li
{
    display: inline-block;
    padding-left: 15px;
}

header .nav-list li a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header .button,
header .nav-list li a,
header .logo img
{
    line-height: 27px;
}
.btn
{   
    text-decoration: none;
    border-style: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
}

.btn-white
{
    background-color: white;
    color: black;
}

.btn-black
{
    background-color: #23272a;
    color: white;
}

.hero
 {
     background-image: url("../img/jumbo.png");
     background-size: cover;
     background-position: top;
     height: 70vh;
     position: relative;
 }

 .title
 {
     color: white;
     text-align: center;
     width: 40%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%) ;
 }

 .title h1
 {
     font-size: 37px;
 }

 .title p
 {
     margin: 20px 0px;
     font-size: 18px;
 }
 
 .title .button button:first-child
 {
     margin-right: 15px;
    }
    
    /* Section */
section
{
        margin: 100px 0px;
}

.col-70
{
    float: left;
    width: 70%;
    text-align: center;
}

.col-30
{
    float: left;
    width: 30%;
}

section h2
{
    font-size: 35px;
    line-height: 35px;
}

section p
{
    margin: 18px 0px;
    font-size: 20px;
}

section h3
{
    font-size: 30px;
}

section
{
    text-align: center;
}

.btn-blue
{
    background-color: #8ea1e1;
    color: white;
}

section h4
{
    font-size: xx-large;
    margin-bottom: 15px;
}


/* Footer */
footer
{
    color: white;
    background-color: #23272a;
}

.col-20
{
    float: left;
    width: 20%;
}

footer div.col-20:first-child
{
    color: red;
}

footer 
{
    padding: 50px 0px;
}